.users-card-list {
  @include columns(24%);
  justify-items: flex-start;
  flex-grow: 1;
  position: relative;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px 0;
  padding: 5px 0;
  justify-content: flex-start;
  @media (max-width: $tablet-width) {
    @include columns(32%);
  }

  @media (max-width: $custom-tablet-one) {
    @include columns(48%);
  }

  @media (max-width: $mobile-big-width) {
    @include columns(100%);
  }
}
